In [1]:
import numpy as np
import pandas as pd

### Load TMDB Data

In [4]:
tmdb = pd.read_csv('data/TMDB_detail1.csv', encoding= 'latin-1')
tmdb.head()

,Unnamed: 0,Cast,Genre,MyTitle,Rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,"KEVIN SPACEY,KATE BOSWORTH",CRIME/DRAMA,21,5.5,False,/avqznLsnPzSROYJTxRMC70MM4Ps.jpg,NaN,35000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",...,3/27/08,69823199,123,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They proved the Vegas Blackjack System was bea...,21,False,6.5,1675
1,0,"HEATH LEDGER ,JULIA STILES,ALLISON JANNEY",TEEN COMEDY,10 THINGS I HATE ABOUT YOU,7.0,False,/oi5EvMTKxhUngCveced3dwx1ctF.jpg,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,3/30/99,53478166,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,How do I loathe thee? Let me count the ways.,10 Things I Hate About You,False,7.3,2174
2,0,MORGAN FREEMAN,COMEDY,10 ITEMS OR LESS,7.0,False,/68AKqBAJIjcvAU7Wuh39zvTxOIn.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,9/11/06,580527,81,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes in life you have to change lanes.,10 Items or Less,False,6.4,62
3,0,"LEE J. COBB,HENRY FONDA",DRAMA,12 ANGRY MEN,8.5,False,/lH2Ga8OzjU1XlxJ73shOlPx6cRw.jpg,NaN,350000,"[{'id': 18, 'name': 'Drama'}]",...,3/25/57,1000000,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life is in their hands. Death is on their minds.,12 Angry Men,False,8.3,2481
4,0,"KATHERINE HEIGL,JAMES MARDSEN",ROMCOM,27 DRESSES,5.0,False,/jwV0wmhEqHGxM5nrOPO0ifQug56.jpg,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,1/10/08,160259319,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She's about to find the perfect fit.,27 Dresses,False,6.2,1242

In [6]:
tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 30 columns):
Unnamed: 0               750 non-null int64
Cast                     706 non-null object
Genre                    715 non-null object
MyTitle                  750 non-null object
Rating                   745 non-null float64
adult                    750 non-null bool
backdrop_path            745 non-null object
belongs_to_collection    212 non-null object
budget                   750 non-null int64
genres                   750 non-null object
homepage                 403 non-null object
id                       750 non-null int64
imdb_id                  749 non-null object
original_language        750 non-null object
original_title           750 non-null object
overview                 750 non-null object
popularity               750 non-null float64
poster_path              748 non-null object
production_companies     750 non-null object
production_countries     750 non-null object
release_date             749 non-null object
revenue                  750 non-null int64
runtime                  750 non-null int64
spoken_languages         750 non-null object
status                   750 non-null object
tagline                  704 non-null object
title                    750 non-null object
video                    750 non-null bool
vote_average             750 non-null float64
vote_count               750 non-null int64
dtypes: bool(2), float64(3), int64(6), object(19)
memory usage: 165.6+ KB

### Clean Invalid IMDB Id for TMDB Data

In [59]:
def clean_invalid_imdb_id(tmdb):
    valid_imdb = tmdb['imdb_id'].notnull()
    boop = tmdb[~valid_imdb]
    
    tmdb['imdb_id'][16] = 'tt0265029' #issue at Row 16
    tmdb.at[16, 'imdb_id']

In [60]:
valid_imdb = tmdb['imdb_id'].notnull()
tmdb[~valid_imdb]

Empty DataFrame
Columns: [Unnamed: 0, Cast, Genre, MyTitle, Rating, adult, backdrop_path, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 30 columns]

In [76]:
tmdb.info() # Verify How many Non-Null IMDB_ID exist

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 30 columns):
Unnamed: 0               750 non-null int64
Cast                     706 non-null object
Genre                    715 non-null object
MyTitle                  750 non-null object
Rating                   745 non-null float64
adult                    750 non-null bool
backdrop_path            745 non-null object
belongs_to_collection    212 non-null object
budget                   750 non-null int64
genres                   750 non-null object
homepage                 403 non-null object
id                       750 non-null int64
imdb_id                  750 non-null object
original_language        750 non-null object
original_title           750 non-null object
overview                 750 non-null object
popularity               750 non-null float64
poster_path              748 non-null object
production_companies     750 non-null object
production_countries     750 non-null object
release_date             749 non-null object
revenue                  750 non-null int64
runtime                  750 non-null int64
spoken_languages         750 non-null object
status                   750 non-null object
tagline                  704 non-null object
title                    750 non-null object
video                    750 non-null bool
vote_average             750 non-null float64
vote_count               750 non-null int64
dtypes: bool(2), float64(3), int64(6), object(19)
memory usage: 165.6+ KB

In [63]:
tmdb.columns

Index(['Unnamed: 0', 'Cast', 'Genre', 'MyTitle', 'Rating', 'adult',
       'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

### Load IMDB Data

In [64]:
imdb = pd.read_csv('data/imdb_raw.csv')
imdb.head()

/Users/iguest/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,directors
0,0,tt0000009,Miss Jerry,Miss Jerry,0,1894,45,Romance,5.4,62,nm0085156
1,1,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport",5.2,244,nm0714557
2,2,tt0000335,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,"Biography,Drama",6.2,32,"nm0675140,nm0095714"
3,3,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Biography,Crime,Drama",6.3,430,nm0846879
4,4,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,\N,Drama,5.1,12,nm0533958

### Rename IMDB Columns

In [67]:
def rename_imdb_cols(imdb):
    old_cols = imdb.columns
    print('\nCurrent Cols\n', old_cols)
    
    new_cols = ['imdb_index', 'imdb_id', 'imdb_primaryTitle', 'imdb_originalTitle', 'imdb_isAdult',
       'imdb_startYear', 'imdb_runtimeMinutes', 'imdb_genres', 'imdb_averageRating', 'imdb_numVotes',
       'imdb_directors']
    
    d= {}
    for i in range(len(old_cols)):
        d[old_cols[i]] = new_cols[i]
        
    print('\nCreated Dictionary & Renamed Columns\n', d)
    
    return imdb.rename(index=str, columns=d)

In [68]:
imdb = rename_imdb_cols(imdb)

Current Cols
 Index(['imdb_index', 'imdb_id', 'imdb_primaryTitle', 'imdb_originalTitle',
       'imdb_isAdult', 'imdb_startYear', 'imdb_runtimeMinutes', 'imdb_genres',
       'imdb_averageRating', 'imdb_numVotes', 'imdb_directors'],
      dtype='object')

Created Dictionary & Renamed Columns
 {'imdb_index': 'imdb_index', 'imdb_id': 'imdb_id', 'imdb_primaryTitle': 'imdb_primaryTitle', 'imdb_originalTitle': 'imdb_originalTitle', 'imdb_isAdult': 'imdb_isAdult', 'imdb_startYear': 'imdb_startYear', 'imdb_runtimeMinutes': 'imdb_runtimeMinutes', 'imdb_genres': 'imdb_genres', 'imdb_averageRating': 'imdb_averageRating', 'imdb_numVotes': 'imdb_numVotes', 'imdb_directors': 'imdb_directors'}

In [69]:
imdb.head()

,imdb_index,imdb_id,imdb_primaryTitle,imdb_originalTitle,imdb_isAdult,imdb_startYear,imdb_runtimeMinutes,imdb_genres,imdb_averageRating,imdb_numVotes,imdb_directors
0,0,tt0000009,Miss Jerry,Miss Jerry,0,1894,45,Romance,5.4,62,nm0085156
1,1,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,20,"Documentary,News,Sport",5.2,244,nm0714557
2,2,tt0000335,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,"Biography,Drama",6.2,32,"nm0675140,nm0095714"
3,3,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Biography,Crime,Drama",6.3,430,nm0846879
4,4,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,\N,Drama,5.1,12,nm0533958

### Merge TMDB and IMDB

In [74]:
result = pd.merge(tmdb, imdb, on='imdb_id')
result = result.drop(['imdb_index'], axis = 1)
result.head()

,Unnamed: 0,Cast,Genre,MyTitle,Rating,adult,backdrop_path,belongs_to_collection,budget,genres,...,vote_count,imdb_primaryTitle,imdb_originalTitle,imdb_isAdult,imdb_startYear,imdb_runtimeMinutes,imdb_genres,imdb_averageRating,imdb_numVotes,imdb_directors
0,0,"KEVIN SPACEY,KATE BOSWORTH",CRIME/DRAMA,21,5.5,False,/avqznLsnPzSROYJTxRMC70MM4Ps.jpg,NaN,35000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",...,1675,21,21,0,2008,123,"Crime,Drama,Thriller",6.8,204543,nm0525659
1,0,"HEATH LEDGER ,JULIA STILES,ALLISON JANNEY",TEEN COMEDY,10 THINGS I HATE ABOUT YOU,7.0,False,/oi5EvMTKxhUngCveced3dwx1ctF.jpg,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,2174,10 Things I Hate About You,10 Things I Hate About You,0,1999,97,"Comedy,Drama,Romance",7.2,249592,nm0432627
2,0,MORGAN FREEMAN,COMEDY,10 ITEMS OR LESS,7.0,False,/68AKqBAJIjcvAU7Wuh39zvTxOIn.jpg,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",...,62,10 Items or Less,10 Items or Less,0,2006,82,"Comedy,Drama",6.7,13403,nm0797869
3,0,"LEE J. COBB,HENRY FONDA",DRAMA,12 ANGRY MEN,8.5,False,/lH2Ga8OzjU1XlxJ73shOlPx6cRw.jpg,NaN,350000,"[{'id': 18, 'name': 'Drama'}]",...,2481,12 Angry Men,12 Angry Men,0,1957,96,"Crime,Drama",8.9,526845,nm0001486
4,0,"KATHERINE HEIGL,JAMES MARDSEN",ROMCOM,27 DRESSES,5.0,False,/jwV0wmhEqHGxM5nrOPO0ifQug56.jpg,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,1242,27 Dresses,27 Dresses,0,2008,111,"Comedy,Romance",6.1,136000,nm0281945

In [75]:
result.info() #Verify increased columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748 entries, 0 to 747
Data columns (total 39 columns):
Unnamed: 0               748 non-null int64
Cast                     704 non-null object
Genre                    714 non-null object
MyTitle                  748 non-null object
Rating                   743 non-null float64
adult                    748 non-null bool
backdrop_path            743 non-null object
belongs_to_collection    212 non-null object
budget                   748 non-null int64
genres                   748 non-null object
homepage                 403 non-null object
id                       748 non-null int64
imdb_id                  748 non-null object
original_language        748 non-null object
original_title           748 non-null object
overview                 748 non-null object
popularity               748 non-null float64
poster_path              746 non-null object
production_companies     748 non-null object
production_countries     748 non-null object
release_date             747 non-null object
revenue                  748 non-null int64
runtime                  748 non-null int64
spoken_languages         748 non-null object
status                   748 non-null object
tagline                  702 non-null object
title                    748 non-null object
video                    748 non-null bool
vote_average             748 non-null float64
vote_count               748 non-null int64
imdb_primaryTitle        748 non-null object
imdb_originalTitle       748 non-null object
imdb_isAdult             748 non-null int64
imdb_startYear           748 non-null object
imdb_runtimeMinutes      748 non-null object
imdb_genres              748 non-null object
imdb_averageRating       748 non-null float64
imdb_numVotes            748 non-null int64
imdb_directors           748 non-null object
dtypes: bool(2), float64(4), int64(8), object(25)
memory usage: 223.5+ KB

### Save Data

In [58]:
result.to_csv('all_data.csv')